#categoryButton {
    -fx-background-color: #E4CCFF;
    -fx-background-radius: 10;
    -fx-text-fill: black; 
    -fx-font-size: 15;
    -fx-pref-width: 180;
    -fx-pref-height: 35;    
}

#subCategoryButton {
    -fx-background-color: #E4CCFF; 
    -fx-background-radius: 10; 
    -fx-text-fill: black; 
    -fx-font-size: 12;
    -fx-pref-width: 130;
    -fx-pref-height: 16;
}

#hidden {
    
}

