#categoryButton {
    -fx-background-color: #E4CCFF;
    -fx-background-radius: 10;
    -fx-text-fill: black; 
    -fx-font-size: 15;
    -fx-pref-width: 180;
    -fx-pref-height: 35;    
}

#subCategoryButton {
    -fx-background-color: #E4CCFF; 
    -fx-background-radius: 10; 
    -fx-text-fill: black; 
    -fx-font-size: 12;
    -fx-pref-width: 130;
    -fx-pref-height: 16;
}

#imageAndButton{
-fx-border-color: grey;
}
#imageAndButton:hover{
-fx-background-color: grey;
}

#lessonOption{
-fx-margin : 10 0 0 0;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #E4CCFF ;
    -fx-text-fill: black ;
    -fx-font-family: "Calibri" ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color:  #9472C1 ;
}
